[loggers]
keys=root, common

[logger_root]
level=INFO
handlers=root_handler

[logger_common]
level=DEBUG
handlers=common_handler
qualname=common

[handlers]
keys=root_handler,common_handler

[handler_root_handler]
class=StreamHandler
level=INFO
args=(sys.stdout,)

[handler_common_handler]
class=FileHandler
level=DEBUG
args=('main.log',"a")
